body {
    background:#1c1c1c url(./images/account-bg.png) no-repeat;
    background-size: cover;
}
main {  
    display: flex;
    align-items: center;
    justify-content: center;
}
.account-container {
    border-radius: 80px;
    box-shadow: 0px 0px 61px 3px black;
    background-color: #1C1B1B;
}
.text {
    font-size: var(--size-text);
    font-family: 'Handil Pro';
    color: #8C7040;
}

.info-account {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}
#pjax-account {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    text-align: start;
}

.account-text {
    color: #F8F2EB;
    font-size: var(--size-text);
}

.title-account {
    color: #F8F2EB;
    font-size: var(--size-title);
    text-align: center;
    line-height: 1.10;
    margin-top: 10px;
}

#genreuser-selectedgenres{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 20px;
    max-height: 310px;
    overflow: auto;
}

.container-genres{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 20px;
    max-height: 310px;
    overflow: auto;
    margin-bottom: 1rem;

}



.genre-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(15px,2vw, 30px);
    border: 1px solid #8C7040;
    color: #8C7040;
    height: 90px;
    border-radius: 126px;
    text-align: center;
    transition: all .2s ease;
    width: 100%;
}

.genre-checkbox-index {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(15px,2vw, 30px);
    border: 1px solid #8C7040;
    color: #8C7040;
    height: 50px;
    border-radius: 126px;
    text-align: center;
    transition: all .2s ease;
    width: 100%;
}

#genre-select-all {
    width: clamp( 150px, 50% ,225px);
    font-size: var(--size-text);
    margin-bottom: 20px;
    cursor: pointer;
}
#genreuser-selectedgenres .genre-checkbox{
    cursor: pointer;
}
.genre-checkbox.genre-checked{
    color: #1C1B1B;
    background-color: #8C7040;
}


.genre-checkbox.large{
    grid-row-end: span 2;
    height: 200px;
    border-radius: 40px;
  }

  .genre-checkbox-index.large-index{
    grid-row-end: span 2;
    height: 140px;
    border-radius: 40px;
  }

  @media (max-width: 768px) {
    #genreuser-selectedgenres {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .container-genres{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 576px) {
    .container-genres{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    
}

@media (max-width: 450px) {
    .container-genres{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    
}