.text {
    font-size: var(--size-text);
    font-family: 'Handil Pro';
    color: #8C7040;
}

.info-account {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}
.account-text {
    color: #F8F2EB;
    font-size: var(--size-text);
}
