section {
    margin-top: 100px;
    margin-bottom: 100px;
}
body {
    background: url('./images/maain-bg.png') no-repeat center fixed  ;
    background-size: cover;

}
.event-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}
.event-title {
    color: #F8F2EB;
    margin-bottom: 30px;
    font-size: var(--size-title);
}
.event-cards {
    gap: clamp(20px, 5vw, 50px) clamp(30px, 7vw, 70px);
    overflow: auto;
    padding-bottom: 2px;
}
.row {
    margin-bottom: clamp(60px, 5.5vw, 100px);
}
.event-form {
    color: #F8F2EB;
    width: 50%;
}

@media screen and (max-width: 768px) {
    .event-form {
        width: 100%;
    }
}

.event-view {
    color: #F8F2EB;
}

.block-row {
    display: flex;
    flex-direction: row;
}

.event-container .btn {
    border-radius: 120px;
    background: #8C7040;
    font-size:  var(--size-text);
    font-weight: 500;
    color: #1C1B1B;
    padding: 15px clamp( 10px, 3vw, 80px);
    border: 1px solid  #8C7040;
}

.event-container .btn:hover {
    color: #F8F2EB;
    background: inherit;
    border: 1px solid #8C7040;
    box-shadow: 0 0 5px 5px rgba(140, 112, 64, .25);
}
.event-container .btn:focus {
    color: #F8F2EB;
    background: inherit;
    border: 1px solid #8C7040;
    box-shadow: 0 0 5px 5px rgba(140, 112, 64, .25);
}

.btn-create {
    border-radius: 120px;
    background: #8C7040;
    font-size:  var(--size-text);
    font-weight: 500;
    color: #1C1B1B;
    padding: 15px clamp( 10px, 3vw, 80px);
    border: 1px solid  #8C7040;
}

.btn-create:hover {
    color: #F8F2EB;
    background: inherit;
    border: 1px solid #8C7040;
    box-shadow: 0 0 5px 5px rgba(140, 112, 64, .25);
}

.btn-create:focus {
    color: #F8F2EB;
    background: inherit;
    border: 1px solid #8C7040;
    box-shadow: 0 0 5px 5px rgba(140, 112, 64, .25);
}

input::file-selector-button {
    background-color: transparent !important;
    color: #F8F2EB !important;
    border: none;
    border-radius: 120px;
    padding-left: clamp( 10px, 2.5vw, 40px) !important;
}

tabel::multiple-input-list {
    background: none;
}

.table > :not(caption) > * > * {
    background-color: transparent;
    border: none !important;
}

.list-cell__artists {
    font-size: var(--size-text);
    color: #F8F2EB !important;
    font-weight: 300;
}

th {
    padding: 0% !important;
}

.multiple-input-list__btn {
    padding: 10px !important;
    color: #F8F2EB;
    background: none;
    border: none;
}

.date-form {
    padding-right: 10px !important;
}

datetime-local {
    background-color: #1C1B1B;
}
select {
    background-color: #1C1B1B !important;
    border: 1px solid #8C7040 !important;
    font-size: var(--size-text) !important;
    text-align: center;
    padding: 14px 0 !important;
    color: #F8F2EB !important;
    border-radius: 120px !important;
}
option {
    color: #F8F2EB;
    background: #1c1b1b;
}

.create-event-p {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.event-container {
    gap: clamp(20px, 2.5vw, 40px);
}

.event-subtitle{
    font-size: var(--size-title);
    margin-bottom: 15px;
    color: #8C7040;
}

.event-container-main {
    gap: clamp(30px , 4vw, 60px);
}

.event-container-image{
    gap: clamp(15px, 2.5vw, 30px);
}

.event-image {
    width: clamp( 300px, 25vw ,425px);
    aspect-ratio: 3/4;
}

.event-card-image {
    width: 300px;
    aspect-ratio: 3/4;
}

.event-like-image {
    width: 40px;
}

.event-container-like{
    gap:10px;
}

.event-like-text {
    font-size: var(--size-text);
    color: #8C7040;
}

.event-container-info {
    gap: clamp(20px, 3vw, 40px);
    flex: 1;
}

.event-title-view {
    font-size: var(--size-title);
}

.event-container-date-buy {
    gap: clamp(20px, 5vw, 50px);
}
.event-date-text{
    font-size: clamp(16px, 2vw, 36px);
}
.event-about {
    font-size: clamp(16px, 2vw, 36px);
}


.event-artists-items{
    gap: 20px;
}

/*.event-artists-item {
    padding: 35px 0px;
}*/

.event-artists-title {
    font-size: clamp(16px, 2vw, 36px);
}


.event-container-place {
    gap: 15px;
}

.event-container-artists {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.event-place-text{
    font-size: clamp(16px, 2vw, 36px);
}

.event-container-price {
    gap: 15px;
    margin-bottom: 10rem;
}

.event-price {
    font-size: clamp(16px, 2vw, 36px);
}

.btn-delete-event {
    border-radius: 120px;
    background: #8C7040;
    font-size:  var(--size-text);
    font-weight: 500;
    color: #1C1B1B;
    padding: 15px clamp( 20px, 5vw, 80px);
    border: 1px solid  #8C7040;
    text-decoration: none;
}

.btn-delete-event:hover {
    color: #F8F2EB;
    background: inherit;
    border: 1px solid #8C7040;
    box-shadow: 0 0 5px 5px rgba(140, 112, 64, .25);
}

.btn-delete-event:focus {
    color: #F8F2EB;
    background: inherit;
    border: 1px solid #8C7040;
    box-shadow: 0 0 5px 5px rgba(140, 112, 64, .25);
}