.btn-view {
    border-radius: 100px;
    color: #1C1B1B;
    background-color: #8C7040;
    padding: 10px;
    padding-left: clamp(20px, 3vw, 30px);
    padding-right: clamp(20px, 3vw, 30px);
    text-align: center;
}


.btn-view:hover {
    color: #F8F2EB;
    background: inherit;
    border: 1px solid #8C7040;
    box-shadow: 0 0 5px 5px rgba(140, 112, 64, .25);
}

.btn-view:focus {
    color: #F8F2EB;
    background: inherit;
    border: 1px solid #8C7040;
    box-shadow: 0 0 5px 5px rgba(140, 112, 64, .25);
}
.panel-links {
    display: flex;
    gap: clamp(20px, 3vw, 40px);
    margin-bottom: clamp(30px, 3.5vw, 50px);
    flex-wrap: wrap;
}

.btn-panel-link {
    border-radius: 120px;
    background: #8C7040;
    font-size:  var(--size-text);
    font-weight: 500;
    color: #1C1B1B;
    padding: 15px clamp( 20px, 5vw, 80px);
    border: 1px solid  #8C7040;
}

.btn-panel-link:hover {
    color: #8C7040;
    background: inherit;
    border: 1px solid #8C7040;
    box-shadow: 0 0 5px 5px rgba(140, 112, 64, .25);
}

.btn-panel-link.current {
    color: #8C7040;
    background: inherit;
    border: 1px solid #8C7040;
    box-shadow: 0 0 5px 5px rgba(140, 112, 64, .25);
}

.grid-view {
    overflow: auto;
}