@font-face {
    font-family: 'Handil Pro';
    src: url(fonts/HandilPro-Medium.otf);
}


:root{
    --size-text: clamp(14px, 1.25vw ,22px);
    --size-title: clamp(24px, 2.5vw ,30px);
}
* {
    font-family: 'Handil Pro';

}
body {
    background-color: #1C1B1B;
    height: auto !important;
}

h1, h2,h3, h4{
    font-size: var(--size-title);
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 2px;
}

::-webkit-scrollbar-thumb{
    background: #8C7040 !important;
    border-radius: 2px;
}
::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 2px;
}

.container-block{
    width: clamp(330px, 90%, 1440px);
    margin: 0 auto;
}

.container-center-block{
    width: clamp(330px, 90%, 850px);
}

.admin-default-index {
    margin: clamp( 40px, 10vw, 100px) auto;
}
.account-link:any-link{
    color: #8C7040;
    /* text-decoration: none; */
}
.title {
    color: #F8F2EB;
    font-size: var(--size-title);
    line-height: 1.10;
}

.form-control {
    background-color: #1C1B1B;
    border: 1px solid #8C7040;
    font-size: var(--size-text);
    text-align: center;
    padding: 14px 10px;
    color: #F8F2EB;
    border-radius: 120px;
}

.form-control::placeholder {
    color: #F8F2EB;
}

.form-control:focus {
    color: #F8F2EB;
    background: inherit;
    border: 1px solid #8C7040;
    box-shadow: 0 0 5px 5px rgba(140, 112, 64, .25);

}
.form-group {
    margin: 4px clamp(10px , 1.5vw, 15px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-group .btn {
    border-radius: 120px;
    background: #8C7040;
    font-size:  var(--size-text);
    color: #1C1B1B;
    padding: clamp(10px,1.5vw, 15px) clamp(30px, 8vw, 80px);
    border: 1px solid  #8C7040;
}

.form-group .btn:is(:hover, :focus-visible, :active){
    border: 1px solid #8C7040;
    background: inherit;
    color: #F8F2EB;
    box-shadow: 0 0 5px 5px rgba(140, 112, 64, .25);

}

form label {
    font-size: var(--size-text);
}
/* nav {
    padding: 30px 0 !important;
} */
.navbar-nav{
    gap: 60px;
}
.nav-link{
    padding: 0 var(--bs-nav-link-padding-x);
    color: #8C7040;
    font-size: clamp(14px, 1.2vw, 20px);
}
.nav-link.active:any-link {
    color: #8C7040;
}
.nav-link.active {
    color: #8C7040;
    border-bottom: 1px #8C7040 solid ;
}
.navbar-brand {
    color: #8C7040;
    font-size: 22px;
}

.navbar-collapse {
    justify-content: end;
}



@media (max-width: 992px) {
    .navbar-collapse {
        background-color: #1C1B1B;
        border: 1px #8C7040 solid;
        border-radius: 80px;
    }
    .navbar-nav {
        gap: 10px;
    }

    .nav-item {
        padding: 10px;
        display: flex;
        justify-content: center;
    }



}

.invalid-feedback {
    color: #277E92;
    margin: 0;
}
.is-valid{
    border-color:  #8C7040 !important;
    background: none !important;
    box-shadow: 0 0 5px 5px rgba(140, 112, 64, .25);
    padding-right: 0 !important;

}
.is-invalid{
    border-color: #277E92 !important;
    background: none !important;
    padding-right: 0 !important;

}
.is-invalid:focus{
    box-shadow: 0 0 5px 5px rgba(39, 126, 146, .25) !important;

}
.is-valid:focus{
    box-shadow: 0 0 5px 5px rgba(140, 112, 64, .25) !important;
}

.is-valid ~ label {
    color: inherit !important;
}


.is-invalid ~ label {
    color: inherit !important;
}

/* modal delete */

.modal-dialog {
    left: 50%;
    margin: 0;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    position: absolute;
    max-width: clamp( 330px, 60vw ,900px) !important;
}

.modal-content {
    background-color: #1C1B1B;
    border: 1px #8C7040 solid;
    border-radius: 80px;
    color: #F8F2EB;
    padding-top: 10px;
    width: clamp( 330px, 60vw ,900px);

}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-button {
    padding: clamp(10px, 3vw, 30px);
}

.modal-header {
    display: flex;
    border-bottom: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: clamp( 20px, 3vw,50px);
    padding-left: 10px;
    padding-right: 10px;

}
.modal-title {
    font-size: var(--size-title);
    padding: 10px;
}

.btn-close {
    display: none;
}

.delete-btn {
    font-family: 'Handil Pro';
    border-radius: 100px;
    color: #1C1B1B;
    background-color: #8C7040;
    padding: 10px;
    padding-left: clamp(20px, 3vw, 30px);
    padding-right: clamp(20px, 3vw, 30px);
    text-align: center;
}

.genre-modal-btn {
    font-family: 'Handil Pro';
    border-radius: 100px;
    color: #1C1B1B;
    background-color: #8C7040;
    padding: 10px;
    padding-left: clamp(20px, 3vw, 30px);
    padding-right: clamp(20px, 3vw, 30px);
    text-align: center;
}

/* .btn-change-role {
    font-family: 'Handil Pro';
    border-radius: 100px;
    color: #1C1B1B;
    background-color: #8C7040;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin-top: 10px;
} */

#btn-cancel {
    color: #F8F2EB;
    padding: 10px;
    padding-left: clamp(20px, 3vw, 30px);
    padding-right: clamp(20px, 3vw, 30px);
}

#btn-cancel-title {
    color: #F8F2EB;
    padding: 10px;
    padding-left: clamp(20px, 3vw, 30px);
    padding-right: clamp(20px, 3vw, 30px);
    font-size: var(--size-text)
}

#delete-btn-cancel {
    border-radius: 120px;
    color: #F8F2EB;
    padding: 10px;
    padding-left: clamp(20px, 3vw, 30px);
    padding-right: clamp(20px, 3vw, 30px);
    font-size: var(--size-text)
}

#change-btn-cancel {
    border-radius: 120px;
    color: #F8F2EB;
    padding: 10px;
    padding-left: clamp(20px, 3vw, 30px);
    padding-right: clamp(20px, 3vw, 30px);
    font-size: var(--size-text);
    text-decoration: none;
}

.pagination {
    display: none;
}

.btn-cancel-genre {
    color: #F8F2EB;
    padding: 10px;
    padding-left: clamp(20px, 3vw, 30px);
    padding-right: clamp(20px, 3vw, 30px);
    font-size: var(--size-text)
}

.empty {
    color: #8C7040;
}


