.title-welcome {
    color: #8C7040;
    font-size: 30px;
    font-family: 'Handil Pro';
    padding: 20px;
}
.btn-welcome {
    font-size: 30px;
    font-family: 'Handil Pro';
    border-radius: 100px;
    color: #1C1B1B;
    background-color: #8C7040;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.text-in {
    font-size: 15px;
    font-family: 'Handil Pro';
    color: #8C7040;
    padding-top: 15px;
}